/* Main container for the canvas and upload section */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  padding: 30px;
}

/* Container for centering elements (e.g., prediction text) */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the canvas element */
canvas {
  background-color: #fff;
}

/* Container for buttons */
.button-container {
  text-align: center;
}

/* Container for model selection buttons */
.button-container-1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Base styling for buttons */
.button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #0056b3;
}

/* Active state for buttons (e.g., selected model) */
.button.active {
  background-color: #1b9333; /* Active state */
}

/* Container for the upload section (text and upload button) */
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
