<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for character encoding, compatibility, and responsive design -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Page title -->
    <title>Closet Tune</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="static/style.css" />

    <!-- Axios library for making HTTP requests -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <!-- Header section with the title -->
    <header>
      <h1 style="text-align: center;">CLOSET TUNE</h1>
    </header>

    <!-- Buttons to select preferred model -->
    <div class="button-container-1">
      <button type="button" id="knn-button" class="button">KNN</button>
      <button type="button" id="nn-button" class="button">NN</button>
      <button type="button" id="rand-forest-button" class="button">RANDOM FOREST</button>
      <button type="button" id="tree-button" class="button">TREE CLASSIFIER</button>
    </div>

    <!-- Form for submitting the canvas image -->
    <form action="/predict" id="form-prediction" method="POST">
      <main class="main-container">
        <!-- Main canvas for drawing -->
        <canvas id="main-canvas" width="400" height="400"></canvas>
        <!-- Contenedor para "Draw or" y el botón de subida -->
        <div class="upload-container">
          <span>Draw or</span>
          <input type="file" id="upload-input" accept="image/*" style="display: none;" />
          <button type="button" id="upload-button" class="button">Upload Image</button>
        </div>
      </main>
    </form>

    <!-- Button to trigger prediction -->
    <div class="button-container">
      <button type="button" id="predict-button" class="button" onclick="sendImage()">Predict</button>
    </div>

    <!-- Clear button to reset the canvas -->
    <main class="buttons">
      <div class="button-container">
        <button id="clear-button" class="button">Clear</button>
      </div>
    </main>

    <!-- Section to display the prediction result -->
    <main class="container">
      <h2 id="prediction" style="text-align: center;">
        Prediction: <span id="prediction-value"></span>
      </h2>
    </main>

    <!-- JavaScript to handle sending the canvas image to the server -->
    <script>
      function sendImage() {
        // Get the canvas element and convert it to a data URL (base64 image)
        var canvas = document.getElementById('main-canvas');
        var imageDataURL = canvas.toDataURL('image/png');
        // Verify if the image was drawn or uploaded
        var source = wasImageUploaded ? "upload" : "canvas";
        // Send the image data to the Flask backend using Axios
        axios.post('/predict', {
          image: imageDataURL,  // Include the image data in the request body
          source: source // Indicador de origen
        })
        .then(function (response) {
          // Handle the server's response (prediction result)
          console.log(response.data);
          document.getElementById('prediction-value').textContent = response.data;
        })
        .catch(function (error) {
          // Handle any errors that occur during the request
          console.error(error);
        });
      }
    </script>

    <!-- Link to external JavaScript file (for additional functionality, e.g., clearing the canvas) -->
    <script src="static/index.js"></script>
  </body>
</html>
